* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #fea034;
  --hoverorange: #ff9317;
  --Lightorange: rgb(231, 158, 75);
  --white: white;
  --black: black;
  --textGrey: rgb(237, 233, 233);
  --darkGrey: #1f2130;
}
